body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Navigation bar styles */
.navbar {
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
/* Logo styles */
.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
/* Navigation links */
.navbar a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.3s ease;
    font-family: 'SamsungOne';
    font-style: normal;
    font-weight: 200;
    src: url('SamsungOne-400.ttf') format('truetype');
    
}
/* Change color on hover */
.menu a:hover {
    background-color: #0c1d29;
}
/* Mobile styles */
@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .logo {
        margin-bottom: 20px;
    }
    .navbar a {
        padding: 10px 0;
        display: block;
        width: 100%;
    }

    .container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
}

.title {
  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;
}

.description {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 50px;
}

.button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  margin-right: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.contairner{
  display: flex;
  margin-top: 50px;
  text-align: left;
}         



.footer-column {
  width: 200px;
  height: 400px;
  display: grid;
  float: left;
  margin-left: 30px;
  line-height: 50px;

}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

h3 {
  padding-left: 38px;
}

